<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard New post Page.</title>
</head>
<body>
    
    <h1>Welcome to Dashboard New post Page.</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Posts">Posts</a></li>
        <li><a href="/Dashboard">Dashboard</a></li>
        <li><a href="/Dashboard/Posts">Dashboard Posts</a></li>
        <li><a href="/Dashboard/Posts/New_Post">Dashboard New Post</a></li>
    </ul>

</body>
</html>